body {
    background-image: url("/src/img/main_bg.png");
    width: 100%;
    vertical-align: middle;
    background-size: cover;
}

.logo {
    position: fixed;
    top: 500px;
    left: 315px;
}

.dividend {
    position: fixed;
    top: 430px;
    left: 985px;    
}
 
input[type=text], input[type=password] {
    width: 15%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: none;
    box-sizing: border-box;
    border-radius: 15px;
  }
  
  button {
    background-color: #Fc5300;
    color: #4D4D4D;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 10%;
    
  }
  
  button:hover {
    background-color: #4D4D4D;
    color: white;
  }
  
  .container {    
    width: auto;
    position: relative;
    top: 373px;
    left: 1380px;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: inline-end;
    padding-top: 16px;
    text-decoration: none;
  }

  form div h3 {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 30px;
      font-weight: normal;            
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }